* {
  font-family:'Alegreya', serif;
  font-size: 14pt;
}

header {
  background-color: #0a2038;
  height: 40px;
}

footer {
  background-color: #0a2038;
  height: 160px;
}

div {
  text-align: center;
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 5%;
}


button {
  width: 100%;
  border: 10px solid #0a2038;

}

#answer {
  display: none;
  color: #cc5612;
  }

#link, a {
  font-size: 10pt;
  text-align: center;
  height: auto;
  margin-top: 12%
}

@media only screen and (min-width: 600px) {
  * { font-size: 18pt;}

  button {
    width: 200px;
    margin: auto;
  }

  #link, a {
  text-align: right;
  margin-top: 8%
  }
}

